<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
    <button>Home</button>
    <button>About us</button>
    <button>Contact </button>
</body>
</html>