<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillRush</title>
</head>
<body>
    <p>hi</p>
    <button>Home </button>
    <button>Home </button>
    <button>Home </button>
     
</body>
</html>